---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
import MdBody from "../../components/MdBody.astro";

export type Props = {
  blog: CollectionEntry<"blog">;
};

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map(blog => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<Layout
  id="top"
  title="moriken web"
  description="もりけんのポートフォリオサイトです。"
>
  <main>
    <Header />
    <section class="md:px-10 px-5 pt-96">
      <Card>
        <div class="md:flex justify-center">
          <div class="md:p-10 max-w-[1040px]">
            <MdBody>
              <Content />
            </MdBody>
          </div>
        </div>
      </Card>
    </section>
    <Footer />
  </main>
</Layout>

<style></style>
