---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const allNotes = await getCollection("note");
---

<Layout
  id="top"
  title="moriken web"
  description="もりけんのポートフォリオサイトです。"
>
  <main>
    <Header />
    <section class="p-10 pt-96">
      <Card>
        <div class="flex items-center justify-center gap-10 p-10 py-80">
          <h1 class="text-5xl font-bold">404</h1>
          <p class="">This page could not find</p>
        </div>
      </Card>
    </section>
    <Footer />
  </main>
</Layout>
