---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  id="top"
  title="moriken web"
  description="もりけんのポートフォリオサイトです。"
>
  <main>
    <Header />
    <Footer />
  </main>
</Layout>
