---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import GridContent from "../components/GridContent.astro";

const allNotes = await getCollection("note");
---

<Layout
  id="top"
  title="moriken web"
  description="もりけんのポートフォリオサイトです。"
>
  <main>
    <Header />
    <section class="md:px-10 px-5 pt-96">
      <Card>
        <div class="flex justify-center">
          <div class="p-10 max-w-[1040px]">
            <div class="mb-16">
              <h1 class="page-title">Note</h1>
              <p class="page-description">自分的技術メモです。</p>
            </div>
            <section class="card-content-wrap">
              {
                allNotes.map(note => (
                  <GridContent
                    page="note"
                    slug={note.slug}
                    title={note.data.title}
                    tags={note.data.tags}
                    thumbnail={note.data.thumbnail}
                  />
                ))
              }
            </section>
          </div>
        </div>
      </Card>
    </section>
    <Footer />
  </main>
</Layout>

<style>
  .page-title {
    @apply mb-10 text-center font-emphasis text-7xl font-bold text-emphasis md:text-8xl;
  }
  .page-description {
    @apply text-center font-emphasis text-[1.4rem] font-bold md:text-3xl;
  }
  .card-content-wrap {
    @apply grid grid-cols-1 gap-10 sm:grid-cols-2;
  }
</style>
