---

---

<header class="header-wrap">
  <a href="../" class="my-auto"
    ><h1 class="text-[1.8rem] font-bold">Moriken web</h1></a
  >
  <ul class="flex gap-20">
    <li class="top-bar-content"><a href="../">profile</a></li>
    <li class="top-bar-content"><a href="../note">note</a></li>
    <li class="top-bar-content"><a href="../blog">blog</a></li>
    <li class="top-bar-content"><a href="../app">app</a></li>
  </ul>
</header>

<style>
  .header-wrap {
    @apply fixed flex w-full justify-between px-28 py-10;
  }
  .top-bar-content {
    @apply inline-block;
  }
</style>
