---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
import MdBody from "../../components/MdBody.astro";

export type Props = {
  note: CollectionEntry<"note">;
};

export async function getStaticPaths() {
  const noteEntries = await getCollection("note");
  return noteEntries.map(note => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

const { note } = Astro.props;
const { Content } = await note.render();
---

<Layout
  id="top"
  title="moriken web"
  description="もりけんのポートフォリオサイトです。"
>
  <main>
    <Header />
    <section class="md:px-10 px-5 pt-96">
      <Card>
        <div class="md:flex justify-center">
          <div class="md:p-10 max-w-[1040px]">
            <MdBody>
              <Content />
            </MdBody>
          </div>
        </div>
      </Card>
    </section>
    <Footer />
  </main>
</Layout>

<style></style>
